<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="gsmith.eclipse.ui.images.ImageContentTypeDescriber"
            file-extensions="png,gif,jpeg,jpg,bmp,ico,tiff,tif"
            id="type"
            name="%images.contentType.name"
            priority="normal">
         <property name="gsmith.eclipse.ui.images.width"/>
         <property name="gsmith.eclipse.ui.images.height"/>
         <property name="gsmith.eclipse.ui.images.depth"/>
         <property name="gsmith.eclipse.ui.images.type"/>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="gsmith.eclipse.ui.images.LightweightImageDecorator"
            id="gsmith.eclipse.ui.images"
            label="%images.decorator.label"
            lightweight="true"
            location="REPLACE"
            state="true">
         <description>
            %images.decorator.description
         </description>
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="gsmith.eclipse.ui.images.type">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <!--<decorator
            adaptable="true"
            class="gsmith.eclipse.ui.images.ImageDecorator"
            id="gsmith.eclipse.ui.images"
            label="%images.decorator.label"
            lightweight="false"
            state="true">
         <description>
            %images.decorator.description
         </description>
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="gsmith.eclipse.ui.images.type">
               </objectState>
            </and>
         </enablement>
      </decorator>-->
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gsmith.eclipse.ui.images.editor.ImageViewer"
            contributorClass="gsmith.eclipse.ui.images.editor.ImageViewerActionBarContributor"
            default="false"
            icon="icons/image.png"
            id="gsmith.eclipse.ui.images.editor.ImageViewer"
            name="%images.editor.name">
         <contentTypeBinding
               contentTypeId="gsmith.eclipse.ui.images.type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%commands.category.description"
            id="gsmith.eclipse.ui.images"
            name="%commands.category.name">
      </category>
      <command
            categoryId="gsmith.eclipse.ui.images"
            description="%zoomin.command.description"
            id="gsmith.eclipse.ui.images.zoomin"
            name="%zoomin.command.name">
      </command>
      <command
            categoryId="gsmith.eclipse.ui.images"
            description="%zoomout.command.description"
            id="gsmith.eclipse.ui.images.zoomout"
            name="%zoomout.command.name">
      </command>
      <command
            categoryId="gsmith.eclipse.ui.images"
            description="%resetzoom.command.description"
            id="gsmith.eclipse.ui.images.resetzoom"
            name="%resetzoom.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="gsmith.eclipse.ui.images.zoomin"
            icon="icons/zoom_in.png">
      </image>
      <image
            commandId="gsmith.eclipse.ui.images.resetzoom"
            icon="icons/zoom.png">
      </image>
      <image
            commandId="gsmith.eclipse.ui.images.zoomout"
            icon="icons/zoom_out.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="gsmith.eclipse.ui.images.zoomin"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1++">
      </key>
      <key
            commandId="gsmith.eclipse.ui.images.zoomout"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+-">
      </key>
      <key
            commandId="gsmith.eclipse.ui.images.resetzoom"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="gsmith.eclipse.ui.images"
            targetID="gsmith.eclipse.ui.images.editor.ImageViewer">
         <menu
               id="gsmith.eclipse.ui.images"
               label="%images.menu.label">
            <separator
                  name="zoom">
            </separator>
         </menu>
         <action
               class="gsmith.eclipse.ui.images.editor.ZoomAction$ZoomOut"
               definitionId="gsmith.eclipse.ui.images.zoomout"
               icon="icons/zoom_out.png"
               id="gsmith.eclipse.ui.images.zoomout"
               label="%zoomout.action.label"
               menubarPath="gsmith.eclipse.ui.images/zoom"
               style="push"
               toolbarPath="gsmith.eclipse.ui.images">
         </action>
         <action
               class="gsmith.eclipse.ui.images.editor.ZoomAction$ResetZoom"
               definitionId="gsmith.eclipse.ui.images.resetzoom"
               icon="icons/zoom.png"
               id="gsmith.eclipse.ui.images.resetzoom"
               label="%resetzoom.action.label"
               menubarPath="gsmith.eclipse.ui.images/zoom"
               style="push"
               toolbarPath="gsmith.eclipse.ui.images">
         </action>
         <action
               class="gsmith.eclipse.ui.images.editor.ZoomAction$ZoomIn"
               definitionId="gsmith.eclipse.ui.images.zoomin"
               icon="icons/zoom_in.png"
               id="gsmith.eclipse.ui.images.zoomin"
               label="%zoomin.action.label"
               menubarPath="gsmith.eclipse.ui.images/zoom"
               style="push"
               toolbarPath="gsmith.eclipse.ui.images">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%screenshots.category.description"
            id="gsmith.eclipse.ui.images.screenshots"
            name="%screenshots.category.name">
      </category>
      <command
            categoryId="gsmith.eclipse.ui.images.screenshots"
            defaultHandler="gsmith.eclipse.ui.screenshot.EclipseScreehshotCommandHandler"
            description="%eclipse.screenshot.command.description"
            id="gsmith.eclipse.ui.screenshot"
            name="%eclipse.screenshot.command.name">
      </command>
      <command
            categoryId="gsmith.eclipse.ui.images.screenshots"
            defaultHandler="gsmith.eclipse.ui.screenshot.DesktopScreehshotCommandHandler"
            description="%desktop.screenshot.command.description"
            id="gsmith.eclipse.ui.screenshot.desktop"
            name="%desktop.screenshot.command.name">
      </command>
      <command
            categoryId="gsmith.eclipse.ui.images.screenshots"
            defaultHandler="gsmith.eclipse.ui.screenshot.DesktopScreehshotCommandHandler$NoEclipse"
            description="%desktop.noeclipse.screenshot.command.description"
            id="gsmith.eclipse.ui.screenshot.desktop.noeclipse"
            name="%desktop.noeclipse.screenshot.command.name">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window?after=gsmith.eclipse.ui.windowSizesMenu">
         <menu
               id="gsmith.eclipse.ui.screenshots"
               label="%screenshots.menu.label">
            <command
                  commandId="gsmith.eclipse.ui.screenshot"
                  label="%eclipse.screenshot.action.label"
                  style="push">
                <visibleWhen checkEnabled="true"></visibleWhen>
            </command>
            <command
                  commandId="gsmith.eclipse.ui.screenshot.desktop"
                  label="%desktop.screenshot.action.label"
                  style="push">
                <visibleWhen checkEnabled="true"></visibleWhen>
            </command>
            <command
                  commandId="gsmith.eclipse.ui.screenshot.desktop.noeclipse"
                  label="%desktop.noeclipse.screenshot.action.label"
                  style="push">
                <visibleWhen checkEnabled="true"></visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="gsmith.eclipse.ui.images"
            label="%images.keywords">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="gsmith.eclipse.ui.images.ImagePropertyPage"
            id="gsmith.eclipse.ui.images"
            name="%image.propertypage.name">
         <enabledWhen>
            <or>
               <!-- From files -->
               <adapt type="org.eclipse.core.resources.IResource">
                  <instanceof value="org.eclipse.core.resources.IFile"/>
                  <test
                        args="isKindOf"
                        property="org.eclipse.core.resources.contentTypeId"
                        value="gsmith.eclipse.ui.images.type"/>
               </adapt>
               <!-- Screenshots will have one of these. Adapt only uses
                    IAdapterFactories, so we need to do both here
                 -->
               <instanceof value="gsmith.eclipse.ui.images.editor.ImageDataEditorInput"/>
               <adapt type="org.eclipse.swt.graphics.ImageData"/>
            </or>
         </enabledWhen>
         <keywordReference id="gsmith.eclipse.ui.images"/>
      </page>
   </extension>
</plugin>
